<div class="content-wrapper auth p-0 theme-two">
    <div class="row d-flex align-items-stretch">
        <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center full_height">
            <div class="slide-content bg-1 d-flex align-items-center">
                <img src="../../assets/images/logo1.png" height="100"/>
            </div>
        </div>
        <div class="col-12 col-md-8 h-100 bg-white">
            <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column full_height">
                <div class="clearfix">
                    <h3 class="mr-auto">ACCOUNT LOGIN</h3>
                    <p class="mb-4 mr-auto">Enter your details below.</p>
                    <div class="form-group">
                        <app-dynamic-forms [fields]="fields" [buttonText]="'Sign In'" (sendFormDataToParent)="login($event)"></app-dynamic-forms>
                    </div>
                    <div class="wrapper mt-4 text-gray">
                        <p class="footer-text">Copyright &copy; {{currentYear}} <em>Reflections.</em>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
