<h4>Useful Angular Library</h4>
<hr>
<p><b>Note:</b> Here I am list out important angular package and library</p>
<h5 class="pt-3">Component UI Library:</h5>
<div class="col-12">
    <div>1. Angular Material - <a href="https://material.angular.io/" target="_blank">https://material.angular.io/</a></div>
    <div>2. Ng Bootstrap - <a href="https://ng-bootstrap.github.io/#/home" target="_blank">https://ng-bootstrap.github.io/#/home</a></div>
    <div>3. Prime NG - <a href="https://www.primefaces.org/primeng/" target="_blank">https://www.primefaces.org/primeng/</a></div>
    <div>4. Nebular -  <a href="https://akveo.github.io/nebular/" target="_blank">https://akveo.github.io/nebular/</a></div>
    <div>5. Ng-Zorro - <a href="https://ng.ant.design/docs/introduce/en" target="_blank">https://ng.ant.design/docs/introduce/en</a></div>
    <small><b>Above library is famous UI library that most project used</b></small>
</div>
<h5 class="pt-3">Data Grid Library:</h5>
<div class="col-12">
    <div>1. Ag-grid - <a href="https://www.ag-grid.com/angular-data-grid/" target="_blank">https://www.ag-grid.com/angular-data-grid/</a></div>
    <div>2. Syncfusion - <a href="https://www.syncfusion.com/angular-components" target="_blank">https://www.syncfusion.com/angular-components</a></div>
    <div>3. Ngx-datatable - <a href="http://swimlane.github.io/ngx-datatable/" target="_blank">http://swimlane.github.io/ngx-datatable/</a></div>
    <div>4. Kendo UI -  <a href="https://www.telerik.com/kendo-angular-ui/components/grid/" target="_blank">https://www.telerik.com/kendo-angular-ui/components/grid/</a></div>
    <small><b>Above data grid library is used for most of project</b></small>
</div>
<h5 class="pt-3">Graph Library:</h5>
<div class="col-12">
    <div>1. High chart - <a href="https://www.highcharts.com/" target="_blank">https://www.highcharts.com/</a></div>
    <div>2. d3.js - <a href="https://d3js.org/" target="_blank">https://d3js.org/</a></div>
    <div>3. Chart.js - <a href="https://www.chartjs.org/docs/latest/" target="_blank">https://www.chartjs.org/docs/latest/</a></div>
    <small><b>Above graph library is used for most of project</b></small>
</div>
<h5 class="pt-3">Other Useful Library:</h5>
<div class="col-12">
    <div>1. Ng-select (Multiselect dropdown) - <a href="https://www.npmjs.com/package/@ng-select/ng-select" target="_blank">https://www.npmjs.com/package/@ng-select/ng-select</a></div>
    <div>2. Moment.js (Date)- <a href="https://momentjs.com/" target="_blank">https://momentjs.com/</a></div>
    <div>3. Angular Flex-Layout <a href="https://github.com/angular/flex-layout" target="_blank">https://github.com/angular/flex-layout</a></div>
    <small><b>Above library is useful library</b></small>
</div>