<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/01.png" alt="menu icon">
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/crudoperations" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/02.png" alt="menu icon">
        <span class="menu-title">Crud Operations</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/datagrid" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/09.png" alt="menu icon">
        <span class="menu-title">Data Grid</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/resourcelink" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/03.png" alt="menu icon">
        <span class="menu-title">Read Me</span>
      </a>
    </li>
  </ul>
</nav>