<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-center">
          <div class="highlight-icon bg-light mr-3">
            <i class="mdi mdi-cube text-success icon-lg"></i>
          </div>
          <div class="wrapper">
            <p class="card-text mb-0">Revenue</p>
            <div class="fluid-container">
              <h3 class="card-title mb-0">$65,650</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-center">
          <div class="highlight-icon bg-light mr-3">
            <i class="mdi mdi-briefcase-check text-primary icon-lg"></i>
          </div>
          <div class="wrapper">
            <p class="card-text mb-0">Orders</p>
            <div class="fluid-container">
              <h3 class="card-title mb-0">$45,650</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-center">
          <div class="highlight-icon bg-light mr-3">
            <i class="mdi mdi-account-multiple text-danger icon-lg"></i>
          </div>
          <div class="wrapper">
            <p class="card-text mb-0">Returns</p>
            <div class="fluid-container">
              <h3 class="card-title mb-0">$12,357</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-center">
          <div class="highlight-icon bg-light mr-3">
            <i class="mdi mdi-airballoon text-info icon-lg"></i>
          </div>
          <div class="wrapper">
            <p class="card-text mb-0">Sales</p>
            <div class="fluid-container">
              <h3 class="card-title mb-0">$45,650</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Latest Comments</h5>
        <div class="d-flex align-items-start pb-3 pt-1 mb-4 border-bottom">
          <img src="assets/images/brand-logo/4.png" alt="brand logo">
          <div class="wrapper w-100 pl-3">
            <div class="d-flex align-items-center justify-content-between">
              <span class="badge badge-danger badge-lg mb-2">ADMIN-APPLE</span>
              <span class="text-gray text-small">13:17 PM</span>
            </div>
            <p>A new rating has been received</p>
          </div>
        </div>
        <div class="d-flex align-items-start pb-3 pt-1 mb-4 border-bottom">
          <img src="assets/images/brand-logo/3.png" alt="brand logo">
          <div class="wrapper w-100 pl-3">
            <div class="d-flex align-items-center justify-content-between">
              <span class="badge badge-warning badge-lg mb-2">ADMIN-AIRBNB</span>
              <span class="text-gray text-small">09:29 PM</span>
            </div>
            <p>Verify your email address !</p>
          </div>
        </div>
        <div class="d-flex align-items-start pb-3 pt-1 mb-4 border-bottom">
          <img src="assets/images/brand-logo/1.png" alt="brand logo">
          <div class="wrapper w-100 pl-3">
            <div class="d-flex align-items-center justify-content-between">
              <span class="badge badge-success badge-lg mb-2">ADMIN-AMAZON</span>
              <span class="text-gray text-small">03:43 AM</span>
            </div>
            <p>Support of theme</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Updates</h5>
        <ul class="bullet-line-list">
          <li>
            <h6>User confirmation</h6>
            <p class="mb-0">Donec rutrum congue leo eget malesuada.</p>
            <p class="text-muted">
              <i class="mdi mdi-clock"></i>
              7 months ago.
            </p>
          </li>
          <li>
            <h6>Continuous evaluation</h6>
            <p class="mb-0">Vivamus suscipit tortor eget felis porttitor volutpat.</p>
            <p class="text-muted">
              <i class="mdi mdi-clock"></i>
              7 months ago.
            </p>
          </li>
          <li>
            <h6>Promotion</h6>
            <p class="mb-0">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
            <p class="text-muted">
              <i class="mdi mdi-clock"></i>
              7 months ago.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-0">New Accounts</h5>
        <div class="new-accounts">
          <ul class="chats">
            <li class="chat-persons">
              <a href="#">
                <span class="pro-pic"><img src="assets/images/faces/face1.jpg" alt="profile image"></span>
                <div class="user">
                  <p class="u-name">David</p>
                  <p class="u-designation">Python Developer</p>
                </div>
                <p class="joined-date">30 Mins ago</p>
              </a>
            </li>
            <!-- list person -->
            <li class="chat-persons">
              <a href="#">
                <span class="pro-pic"><img src="assets/images/faces/face2.jpg" alt="profile image"></span>
                <div class="user">
                  <p class="u-name">Stella Johnson</p>
                  <p class="u-designation">SEO Expert</p>
                </div>
                <p class="joined-date">2 Days ago</p>
              </a>
            </li>
            <!-- list person -->
            <li class="chat-persons">
              <a href="#">
                <span class="pro-pic"><img src="assets/images/faces/face23.jpg" alt="profile image"></span>
                <div class="user">
                  <p class="u-name">Marina Michel</p>
                  <p class="u-designation">Business Development</p>
                </div>
                <p class="joined-date">4 Days ago</p>
              </a>
            </li>
            <!-- list person -->
            <li class="chat-persons">
              <a href="#">
                <span class="pro-pic"><img src="assets/images/faces/face4.jpg" alt="profile image"></span>
                <div class="user">
                  <p class="u-name">Edward Fletcher</p>
                  <p class="u-designation">UI/UX Designer</p>
                </div>
                <p class="joined-date">5 Days ago</p>
              </a>
            </li>
            <!-- list person -->
            <li class="chat-persons">
              <a href="#">
                <span class="pro-pic"><img src="assets/images/faces/face14.jpg" alt="profile image"></span>
                <div class="user">
                  <p class="u-name">Allen Donald</p>
                  <p class="u-designation">UI/UX Designer</p>
                </div>
                <p class="joined-date">5 Days ago</p>
              </a>
            </li>
            <!-- list person -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>