.form-control {  
    border: 1px solid #ced4da !important;
}

.input-group-prepend{
    border: 1px solid #ced4da !important;
}

.modal-backdrop{
    z-index: 1050 !important;
}

.modal .modal-dialog .modal-content .modal-header{
    padding: 20px !important;
}

.modal .modal-dialog .modal-content .modal-footer{
    padding: 20px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.sidebar {
    .nav-link.active {
      background: #232323 !important;
      color: #c7c7c7 !important;
    }
}

.tab-content{
    padding:0px !important;
}